*
!/ci-scripts
!/chain-abci
!/chain-core
!/chain-tx-filter
!/chain-tx-validation
!/client-cli
!/client-common
!/client-core
!/client-network
!/client-rpc
!/test-common
!/dev-utils
!/enclave-protocol
!Carog.lock
!Cargo.toml
!/docker
!/target/debug/client-cli
!/target/debug/chain-abci
!/target/debug/client-rpc
!/target/debug/dev-utils
!/target/debug/tx-query-app
!/target/debug/tx_query_enclave.signed.so
!/target/debug/tx-validation-app
!/target/debug/tx_validation_enclave.signed.so
!/target/release/client-cli
!/target/release/chain-abci
!/target/release/client-rpc
!/target/release/dev-utils
!/target/release/tx-query-app
!/target/release/tx_query_enclave.signed.so
!/target/release/tx-validation-app
!/target/release/tx_validation_enclave.signed.so

/docker/Dockerfile
