*
!/ci-scripts
!/chain-abci
!/chain-core
!/chain-tx-enclave/tx-validation/bin/enclave.signed.so
!/chain-tx-enclave/tx-validation/bin/tx-validation-app
!/chain-tx-enclave/tx-query/bin/enclave.signed.so
!/chain-tx-enclave/tx-query/bin/tx-query-app
/chain-tx-enclave/tx-validation/lib
/chain-tx-enclave/tx-query/lib
!/chain-tx-filter
!/chain-tx-validation
!/client-cli
!/client-common
!/client-core
!/client-network
!/client-rpc
!/test-common
!/dev-utils
!/enclave-protocol
!Carog.lock
!Cargo.toml
!/docker
!/target/release/client-cli
!/target/release/client-rpc
!/target/release/chain-abci
!/target/release/dev-utils
!/target/debug/client-cli
!/target/debug/client-rpc
!/target/debug/chain-abci
!/target/debug/dev-utils
/docker/Dockerfile
