# Rust
/target
/chain-abci/target
**/*.rs.bk
/.cargo

# Python
__pycache__
*.egg-info

# Storage
/.storage
/.storage.bak
/.cro-storage

# OS
.DS_Store

# IDE
.vscode
.idea
/tags

# TODOR
.todor

# SSH
id_rsa
id_ecdsa

# drone cache
/drone

# integration tests temparary artifacts
/integration-tests/*.so
/integration-tests/bot/.venv
