**/target/
**/*.rs.bk
.vscode
.DS_Store

**/lib/libEnclave_u.*
**/lib/libcompiler-rt-patch.a
**/lib/libenclave.a
**/bin/tx-validation-app
**/bin/enclave.signed.so
**/bin/tx-query-app
**/enclave/Enclave_t.*
**/enclave/enclave.so
**/app/Enclave_u.*
**/app/libEnclave_u.*

rust-sgx-sdk/compiler-rt/libcompiler-rt-patch.a
rust-sgx-sdk/compiler-rt/muloti4.o

enclave-u-common/Cargo.lock